<mat-nav-list>
  <a
    mat-list-item
    routerLinkActive="mat-list-item-active"
    class="db mat-primary--text text-decoration-none hover-darker mat-title"
    [routerLink]="['/home']"
    >Home</a
  >
  <a
    mat-list-item
    routerLinkActive="mat-list-item-active"
    class="db mat-primary--text text-decoration-none hover-darker mat-title"
    [routerLink]="['/favourites']"
  >
    <span
      [matBadge]="favouritesCount"
      [matBadgeHidden]="favouritesCount < 1"
      [matBadgeOverlap]="false"
      matBadgeColor="primary"
      >Favourites</span
    >
  </a>
</mat-nav-list>
