@import '~@angular/material/theming';


// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-teal, 600);
$accent:  mat-palette($mat-grey, 300);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

// Custom colors (appart from theme)
$brand-white: hsl(0, 0%, 95%);
$brand-black: hsl(0, 0%, 5%);

$COLORS: (
  'mat-primary': mat-color($primary),
  'mat-accent': mat-color($accent),
  'white': $brand-white,
  'black': $brand-black,
);

@each $color-name, $color-value in $COLORS {
  :root .#{$color-name} {
    &--bg {
      background-color: $color-value;
    }
    &--text {
      color: $color-value;
      &.hover-darker:hover {
        color: darken($color-value, 20)
      }
      &.hover-lighter:hover {
        color: lighten($color-value, 20)
      }
    }
  }
}
