<mat-card class="relative">
  <img
    *ngIf="product.image"
    mat-card-image
    [src]="'assets/images/' + product.image"
  />
  <mat-card-content>
    <h2 class="flex flex-justify-between">
      <span>{{ product.title }}</span>
      <app-price [price]="product.price" class="mat-primary--text"></app-price>
    </h2>
    <p>
      {{ product.description }}
    </p>
    <p>
      <a [href]="'mailto:' + product.email">{{ product.email }}</a>
    </p>
  </mat-card-content>
  <mat-card-actions class="absolute button-floating">
    <button
      mat-mini-fab
      [color]="activatedColor"
      (click)="onFavourite(product.id)"
    >
      <mat-icon aria-label="Save or delete favourite">favorite</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
